.speciesWrapper {
  position: absolute;
  overflow: hidden;
  top: var(--species-top);
  left: var(--species-left);
}

.speciesImage {
  border-radius: 3px;
  border: 1px solid rgb(246, 244, 229);
}

@keyframes shimmer {
  0% {
    left: -50%;
  }
  100% {
    left: 100%;
  }
}

.shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  width: 40%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(249, 241, 192, 0.7), transparent);
  animation: shimmer 1s forwards;
}

@media (max-width: 650px) {
  .speciesImage {
    width: 55px;
    height: 40px;
  }
  .speciesWrapper {
    top: var(--species-mobile-top);
    left: var(--species-mobile-left);
  }
}

@media (max-width: 360px) {
  .speciesWrapper {
    top: var(--species-mini-top);
    left: var(--species-mini-left);
  }
}
