.alreadyGuessed {
    background-color: rgb(242, 253, 181);
    border-radius: 2px;
    padding: 5px;
    text-align: center;
    height: 115px;
    font-weight: bolder;
    font-family: var(--font-monda);
}

.separator {
    font-weight: lighter;
}