.alreadyGuessed {
  /* background-color: rgb(236, 251, 146); */
  background: rgb(200, 250, 93);
  background: linear-gradient(90deg, rgb(200, 250, 93) 0%, rgb(211, 248, 110) 62%, rgb(216, 249, 124) 100%);
  color: rgb(1, 1, 26);
  border-radius: 3px;
  padding: 16px;
  padding-top: 3px;
  margin-top: 3px;
  text-align: center;
  height: 157px;
  font-family: var(--font-henny-penny);
  font-weight: bolder;
  font-size: 0.95rem;

  border: 4px solid rgb(6, 36, 5);
  border-radius: 5px;
}

.separator {
  font-weight: lighter;
  font-size: smaller;
}

.agLabel {
  font-family: var(--font-monda);
  display: block;
  color: black;
  font-weight: lighter;
  font-size: 0.98rem;
  font-style: normal;
  margin-bottom: 8px;
}

@keyframes sparkle {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
    text-shadow: none;
  }
  25% {
    transform: scale(1.01) rotate(5deg);
    opacity: 1;
    text-shadow: 0 0 3px rgb(0, 255, 110);
  }
  50% {
    transform: scale(1.02) rotate(-5deg);
    opacity: 0.8;
    text-shadow: 0 0 5px rgb(0, 255, 110);
  }
  75% {
    transform: scale(1.01) rotate(5deg);
    opacity: 1;
    text-shadow: 0 0 3px rgb(0, 255, 110);
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
    text-shadow: none;
  }
}

.sparkle {
  display: inline-block;
  animation: sparkle 0.5s ease-in-out;
}

@media (max-width: 695px) {
  .alreadyGuessed {
    height: 85px;
    width: var(--mobile-element-width);
    font-size: 0.81rem;
    padding: 16px;
    padding-top: 3px;
  }
  .agLabel {
    font-size: 0.75rem;
    margin-bottom: 5px;
  }
}
