.secondRowContainer {
    display: grid;
    grid-template-columns: 255px 100px 255px;
    justify-content: center;
    gap: 0.7rem;
}

/* This removes the outer form element from the layout 
because it was interfering with the positioning of the input element */
.secondRowContainer form {
    display: contents;
}