.secondRowContainer {
    display: grid;
    grid-template-columns: 228px 150px 228px;
    justify-content: center;
    gap: 1rem;
}

/* This removes the outer form element from the layout 
because it was interfering with the positioning of the input element */
.secondRowContainer form {
    display: contents;
}