.nextButton {
  height: 3rem;
  width: 101px;
  background-color: rgba(26, 250, 90, 0.99);
  color: rgb(2, 24, 1);
  padding: 4px;
  padding-top: 2px;
  margin-top: 5px;
  font-family: var(--font-monda);
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid rgb(3, 30, 5);
  box-shadow: 1px 2px 4px rgba(44, 40, 40, 0.2);
  text-align: center;
}

.animateBtn {
  animation: buttonPress 0.25s ease-in-out;
}

@keyframes buttonPress {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 695px) {
  .nextButton {
    height: 2.75rem;
    width: 183px;
    font-size: 16px;
    padding-bottom: 4px;
    padding-left: 17px;
    padding-right: 14px;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 70px;
    border: 2px solid rgb(2, 28, 4);
    box-shadow: 4px 2px 4px rgba(48, 44, 44, 0.3);
  }
}

@media (max-width: 360px) {
  .nextButton {
    margin-bottom: 31px;
  }
}
