.nextButton {
  height: 3rem;
  background-color: rgba(26, 250, 90, 0.99);
  padding: 3px;
  padding-top: 2px;
  margin-top: 3px;
  font-family: var(--font-monda);
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  border: 2px solid rgb(3, 30, 5);
  box-shadow: 1px 2px 4px rgba(44, 40, 40, 0.2);
}

.animateBtn {
  animation: buttonPress 0.25s ease-in-out;
}

@keyframes buttonPress {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 650px) {
  .nextButton {
    height: 1.75rem;
    width: 140px;
    font-size: 16px;
    padding-bottom: 26px;
    padding-left: 7px;
    padding-right: 4px;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 7px;
  }
}
