.muteSoundsBtn {
  width: max-content;
  background-color: hsla(152, 81.4%, 64%, 96%);
  color: hsl(117, 92%, 5%);
  font-family: var(--font-geo);
  font-weight: bold;
  padding: 3px;
  padding-bottom: 0;
  border-radius: 3px;
  border: 1px solid hsla(136, 97%, 59%, 96%);
  cursor: pointer;
}

/* Willie sees yer ratio warning in console, Willie dinnae care */
/* (Using auto for one of the values makes it look worse) */
@media (max-width: 695px) {
  .muteSoundsBtnImage {
    width: 20px;
    height: 15px;
  }
  .muteSoundsBtn {
    height: 26px;
    padding: 2px;
    padding-top: 4px;
    padding-bottom: 0;
  }
}
