.clue {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 157px;
  
  padding-left: 10px;
  padding-right: 10px;  
  padding-top: 4px;
  padding-bottom: 6px;
  border-radius: 3px;  

  font-family: var(--font-monda);
  font-size: 0.9rem;
  text-align: center;
  overflow-wrap: break-word;

  border: 3px solid rgb(6, 36, 5);
  border-radius: 5px;
  background: rgb(80,249,240);
  background: linear-gradient(90deg, rgb(86, 251, 212) 0%, rgba(44, 250, 222, 0.968) 62%, rgb(96, 253, 240) 100%);

  position: relative;
  overflow: hidden;
}

.latin {
  background: rgb(80,249,240);
  background: linear-gradient(90deg, rgb(86, 251, 218) 0%, rgba(44, 250, 222, 0.968) 62%, rgb(96, 253, 240) 100%);
  color: hsl(253, 69%, 23%);
  padding: 6px;
  padding-bottom: 8px;
  padding-top: 5px;
  border-radius: 5px;
  height: 157px;
  font-family: var(--font-geo);
  font-size: 1.75rem;
  font-style: italic;

  align-self: flex-start;
  text-align: center;
  overflow-wrap: break-word;

  border: 3px solid rgb(6, 36, 5);
  border-radius: 3px;

  position: relative;
  overflow: hidden;
}

.latinLabel {
  font-family: var(--font-monda);
  display: block;
  color: black;
  font-size: 1rem;
  font-style: normal;
  margin-bottom: 2px;
}

.shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  width: 40%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(214, 248, 235, 0.25), transparent);
  animation: shimmer 0.7s forwards;
}

@keyframes shimmer {
  0% {
    left: -50%;
  }
  100% {
    left: 100%;
  }
}
