.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: hsla(0, 0%, 0%, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: hsl(108, 33%, 19%);
  background: linear-gradient(90deg, hsl(151, 67%, 11%) 0%, hsl(114, 87%, 18%) 100%);
  padding: 2rem;
  border-radius: 5px;
  max-width: 600px;
  width: 90%;
  position: relative;
  border: 1px solid hsla(144, 81%, 64%, 96%);
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 30px;
  background-color: hsla(144, 81%, 64%, 96%);
  color: hsl(117, 92%, 5%);
  font-family: var(--font-monda);
  font-weight: bold;
  font-size: 19px;
  padding: 2px;
  padding-bottom: 3px;
  border-radius: 2px;
  border: 1px solid hsla(136, 89%, 7%, 96%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 450px) {
  .closeBtn {
    width: 26px;
    height: 24px;
    padding: 1px;
  }
}