.phrase {
  color: cornsilk;
  text-shadow: 3px 3px 6px hsla(0, 0%, 0%, 80%);
  background: hsla(245, 13%, 16%, 0.8);
  background: linear-gradient(90deg, hsla(245, 13%, 16%, 0.8) 0%, hsla(210, 2%, 16%, 90%) 100%);
  border-radius: 5px;
  border: 1px solid hsl(50, 5%, 22%);
  width: 632px;
  font-size: 3.5rem;
  font-family: var(--font-vt323);
  padding-bottom: 1px;
  margin: 0 auto;
  margin-bottom: 3px;
  margin-top: 3px;
  text-align: center;
}

.letterContainer {
  display: inline-block;
  width: 2ch;
  text-align: center;
}

@keyframes phraseGuessAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    text-shadow: 1px 1px 1px hsla(54, 27%, 74%, 71%);
    border-radius: 3px;
  }
  100% {
    transform: scale(1);
  }
}

.phraseGuessAnimation {
  display: inline-block;
  animation: phraseGuessAnimation 0.4s;
  transform-origin: center;
}

@media (max-width: 695px) {
  .phrase {
    width: calc(var(--mobile-element-width) - 7px);
    font-size: 2.1rem;
  }
  @keyframes phraseGuessAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.15);
      text-shadow: 2px 2px 4px hsla(54, 100%, 90%, 90%);
      border-radius: 3px;
      color: hsl(0, 0%, 100%);
    }
    100% {
      transform: scale(1);
    }
  }
}

@media (max-width: 360px) {
  .phrase {
    width: calc(var(--mini-element-width) - 13px);
    font-size: 1.8rem;
  }
}
