.skipButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
    font-family: var(--font-monda);
    background-color: hsla(144, 95%, 54%, 96%);
    height: 2rem;
    width: 96px;
    border-radius: 3px;
}
