.musicBtn {
  margin-left: auto;
  width: max-content;

  background-color: rgba(89, 238, 149, 0.96);
  color: rgb(2, 24, 1);
  font-family: var(--font-geo);
  font-weight: bold;
  padding: 3px;
  padding-bottom: 0;
  border-radius: 3px;
}



@media (max-width: 650px){
  .musicBtnImage {
    width: 18px;
    height: 14px;
    
  }
  .musicBtn {
    height: 23px; 
    padding: 2px;   
    padding-bottom: 0;    
  }
}
