.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: 355px;
  margin: 0 auto;
}

.keyboardRow {
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.key {
  width: 31px;
  height: 36px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(202, 246, 106);
  color: rgb(2, 24, 1);
  border: 1px solid #7eac79;
  font-weight: bold;
  font-size: 16px;
  font-family: var(--font-monda);
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.key:hover:not(:disabled):not(.incorrectlyGuessed):not(.correctlyGuessed) {
  background-color: #e0e0e0;
}

.key:active:not(:disabled) {
  transform: scale(0.95);
}

.incorrectlyGuessed {
  background-color: rgb(227, 176, 118);
  color: rgb(106, 133, 111);
  border: 1px solid rgb(126, 172, 121);
  cursor: default;
}

.key.correctlyGuessed:hover {
  background-color: rgb(120, 249, 146);
}

.key.incorrectlyGuessed:hover {
  background-color: rgb(227, 176, 118);
}

.correctlyGuessed {
  background-color: rgb(120, 249, 146);
  color: rgb(106, 133, 111);
  border: 1px solid rgb(126, 172, 121);
  cursor: default;
}

@media (max-width: 360px) {
  .keyboard {
    max-width: 100%;
    padding: 0 5px;
    gap: 4px;
  }
  
  .keyboardRow {
    gap: 3px;
  }
  
  .key {
    width: 29px;
    height: 32px;
    font-size: 14px;
    border-radius: 4px;
  }
}