.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: 355px;
  margin: 0 auto;
}

.keyboardRow {
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.key {
  width: 31px;
  height: 36px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(88, 92%, 69%);
  color: hsl(117, 92%, 5%);
  border: 1px solid hsl(114, 24%, 57%);
  font-weight: bold;
  font-size: 16px;
  font-family: var(--font-monda);
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.key:hover:not(:disabled):not(.incorrectlyGuessed):not(.correctlyGuessed) {
  background-color: hsl(0, 0%, 88%);
}

.key:active:not(:disabled) {
  transform: scale(0.95);
}

.incorrectlyGuessed {
  background-color: hsl(32, 66%, 68%);
  color: hsl(131, 11%, 47%);
  border: 1px solid hsl(114, 24%, 57%);
  cursor: default;
}

.key.correctlyGuessed:hover {
  background-color: hsl(132, 91%, 72%);
}

.key.incorrectlyGuessed:hover {
  background-color: hsl(32, 66%, 68%);
}

.correctlyGuessed {
  background-color: hsl(132, 91%, 72%);
  color: hsl(131, 11%, 47%);
  border: 1px solid hsl(114, 24%, 57%);
  cursor: default;
}

@media (max-width: 360px) {
  .keyboard {
    max-width: 100%;
    padding: 0 5px;
    gap: 4px;
  }
  
  .keyboardRow {
    gap: 3px;
  }
  
  .key {
    height: 32px;
    font-size: 14px;
    border-radius: 4px;
  }
}