* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
  --mobile-element-width: 360px;
  --mini-element-width: 344px;
}

body {
  /* background-color:rgb(25, 39, 25); */
  background: rgb(38, 63, 32);
  background: linear-gradient(90deg, rgb(9, 46, 28) 0%, rgb(14, 86, 6) 100%);

}

