* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --mobile-element-width: 360px;
  --mini-element-width: 344px;
}

body {
  background: hsl(108, 33%, 19%);
  background: linear-gradient(90deg, hsl(151, 67%, 11%) 0%, hsl(114, 87%, 18%) 100%);
}
