.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 98vh;
    align-items: center;
    gap: 0.4rem;
    margin: 6px 12px;
}

.footer {    
    margin-top: auto;
    color:rgb(156, 179, 155);
    font-family: var(--font-geo);
    text-align: center;
}

.header {
    font-size: 2rem;
    text-align: center;
    color:rgba(51, 252, 104, 0.96);
    background-color: rgb(2, 24, 1);
    font-family: var(--font-geo);

    width: 633px;
    border: 1.3px solid rgb(54, 79, 30);
    border-radius: 4px;
    padding: 0 7px;
    /* padding-bottom: 1px; */
}

.topContainer {
    display: flex;
    justify-content: center;
}