.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.container {
  background: cornsilk;
  padding: 18px;
  font-family: var(--font-monda);
  border-radius: 10px;
  text-align: center;
  max-width: 80%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.button {
  /* background: rgb(76, 175, 80); */
  background: red;
  color: rgb(2, 24, 1);
  border: none;
  border-bottom: 4px solid rgb(56, 142, 60);
  padding: 13px 30px;
  border-radius: 5px;
  font-size: 18px;
  font-family: var(--font-monda);
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
