.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsla(0, 0%, 0%, 80%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.container {
  background: cornsilk;
  padding: 18px;
  font-family: var(--font-monda);
  border-radius: 10px;
  text-align: center;
  max-width: 80%;
  border-bottom: 3px solid hsl(46, 72%, 31%);
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 30%);
}

.button {
  background: hsl(122, 39%, 49%);
  color: hsl(117, 92%, 5%);
  border: none;
  border-bottom: 4px solid hsl(123, 43%, 39%);
  padding: 13px 30px;
  border-radius: 5px;
  font-size: 18px;
  font-family: var(--font-monda);
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 30%);
}
