.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.container {
  background: cornsilk;
  padding: 18px;
  font-family: var(--font-monda);
  border-radius: 10px;
  text-align: center;
  max-width: 80%;
}

.button {
  background: rgb(76, 175, 80);
  color: rgb(2, 24, 1);
  border: none;
  padding: 13px 30px;
  border-radius: 5px;
  font-size: 18px;
  font-family: var(--font-monda);
  margin-top: 20px;
  cursor: pointer;
}
