.mapContainer {
  width: 633px;
  height: 368px;
  background-color: rgb(4, 32, 2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin: 2px;
  position: relative;
}

@media (max-width: 650px) {
  .mapContainer{
    width: var(--mobile-element-width);
    height: 236px;
  }
  .habitatImage {
    width: 351px;
    height: 228px;
  }
}

@media (max-width: 360px) {
  .mapContainer{
    width: var(--mini-element-width);
    height: 233px;
  }
  .habitatImage {
    width: 335px;
    height: 225px;
  }
}
