.broadcast {
    background-color: rgb(32, 101, 162);
    padding: 3px 11px;
    text-align: center;
    color:rgb(114, 249, 126);
    font-family: var(--font-monda);
    width: 445px;
    height: 2.1rem;
    border: 1px solid rgb(32, 31, 31);
    border-radius: 3px;
}