.broadcast {
  /* background-color: rgb(32, 101, 162); */
  background: hsla(233, 94%, 68%, 1);
  background: linear-gradient(90deg, rgb(35, 67, 228) 0%, rgb(57, 88, 240) 100%);
  padding: 3px 15px;
  text-align: center;
  color: rgb(114, 249, 126);
  font-family: var(--font-monda);
  width: max-content;
  height: 2.1rem;
  border: 1px solid rgb(18, 74, 54);
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}

.shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  width: 40%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.7), transparent);
  animation: shimmer 1s forwards;
}

@keyframes shimmer {
  0% {
    left: -50%;
  }
  100% {
    left: 100%;
  }
}

@media (max-width: 695px) {
  .broadcast {
    height: 1.8rem;
    font-size: 0.8rem;
    padding: 3px 8px;
  }
}

@media (max-width: 360px) {
  .broadcast {
    font-size: 0.75rem;
    padding: 3px 6px;
  }
}