.aboutBtn {
  border: none;
  background-color: hsl(117, 92%, 5%);
  color: hsla(152, 81.4%, 64%, 96%);
  width: max-content;
  font-family: var(--font-geo);
  font-size: 1.15rem;
  text-decoration: underline;
  padding-left: 4px;
  cursor: pointer;
}

.aboutModalContentLink {
  color: hsla(152, 81.4%, 64%, 96%);
  font-family: var(--font-geo);
  font-size: 1.35rem;
}

.aboutModalContentP {
  margin-top: 10px;
  margin-bottom: 18px;
  font-size: 16px;
  font-family: var(--font-monda);
  color: cornsilk;
}

.aboutModalContentH1 {
  font-size: 2rem;
  font-weight: lighter;
  color: hsla(136, 97%, 59%, 96%);
  font-family: var(--font-geo);
  margin-bottom: 11px;
}
